<app-server></app-server>
<app-server></app-server>
<hr>
    <!-- the [] square bracket tells angular that we are using property binding on that HTML tag attribute.
    here "disabled" is an attribute we can use on HTML tags like the button tag, input tag etc. -->
    <!-- the () parenthesis tells angualr we are using event binding on the HTML property (here, click) 
    and we can pass the function name or write a small piece of code etc -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreation()">
    <!-- logically, when the allowNewServer property becomes true in the TS code, the button should be enabled
    but since we are binding with the disabled property, setting the disabled property to be true would 
    disable the button and defeat the purpose. so we have ! before allowNewServer to get the opposite value of
    the var -->
    Add Servers
</button>
<input type="text" class="form-control" [(ngModel)]="serverName">
<hr>
<p>
    {{ serverCreationStatus }}
</p>
<!-- property binding Vs string interpolation -->
<hr>
<p>
    {{ allowNewServer }}
</p>

<p [innerText]="allowNewServer"></p>
<!-- here the inner text property of the p tag simply outputs whatever data is sent to it -->